In [2]:
# pip install vaderSentiment

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/76/fc/310e16254683c1ed35eeb97386986d6c00bc29df17ce280aed64d55537e9/vaderSentiment-3.3.2-py2.py3-none-any.whl (125kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 133kB 1.1MB/s eta 0:00:01
Requirement already satisfied: requests in /usr/local/anaconda3/lib/python3.7/site-packages (from vaderSentiment) (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/anaconda3/lib/python3.7/site-packages (from requests->vaderSentiment) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/anaconda3/lib/python3.7/site-packages (from requests->vaderSentiment) (2019.9.11)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in /usr/local/anaconda3/lib/python3.7/site-packages (from requests->vaderSentiment) (2.0.4)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in /usr/local/anaconda3/lib/python3.7/site-packages (from requests->vaderSentiment) (2.8)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
import glob
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [7]:
files = []
for file in glob.glob("../data/Official Tweets/*"):
    files.append(file)

In [22]:
for file in files:
    print("Reading file - " + file)
    dataset = pd.read_csv(file)
    analyzer = SentimentIntensityAnalyzer()
    dataset["sentiment_compound_score"] = dataset["Text"].apply(lambda x : analyzer.polarity_scores(str(x)))
    df = pd.json_normalize(dataset['sentiment_compound_score'])
    dataset_updated = pd.merge(dataset, df, how="inner", right_index = True, left_index= True)
    dataset_updated["sentiment"] = dataset_updated["compound"].apply(lambda x : "Positive" if (x > 0.05) else ("Neutral" if (x > -0.05 and x < 0.05) else "Negative"))
    display(dataset_updated.head(2))
    display(dataset_updated["sentiment"].value_counts())
#     dataset_updated["sentiment"].value_counts().plot(kind="bar")

Reading file - ../data/Official Tweets/24-Oct.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-10-24 21:46:00+00:00,1452390945656168448,‚ù§Ô∏è\n\n#MUFC | #MUNLIV https://t.co/5DAnEB52lc,ManUtd,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,1.0,0.0,0.0,Neutral
1,1,2021-10-24 20:31:00+00:00,1452372071346958336,Our captain spoke to #MUTV after #MUNLIV.\n\n#...,ManUtd,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,1.0,0.0,0.0,Neutral

Neutral     30
Positive    17
Negative     2
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/02-Oct.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-10-02 22:28:00+00:00,1444428982238134273,Landmark reached in 58 #PL appearances üéØ\n\n#M...,ManUtd,"{'neg': 0.0, 'neu': 0.787, 'pos': 0.213, 'comp...",0.0,0.787,0.213,0.1779,Positive
1,1,2021-10-02 21:02:00+00:00,1444407339986083844,Up and running in 2021/22 üëä\n\n@AnthonyMartial...,ManUtd,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,1.000,0.000,0.0000,Neutral

Neutral     24
Positive    16
Negative     6
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/25-Sep.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-09-25 19:42:04+00:00,1441850509565087751,Your support üëè\n\n#MUFC | @D_DeGea https://t.c...,ManUtd,"{'neg': 0.0, 'neu': 0.722, 'pos': 0.278, 'comp...",0.000,0.722,0.278,0.4019,Positive
1,1,2021-09-25 17:36:00+00:00,1441818782981181441,"""It's a very disappointing day. There are no e...",ManUtd,"{'neg': 0.306, 'neu': 0.542, 'pos': 0.152, 'co...",0.306,0.542,0.152,-0.6901,Negative

Neutral     21
Positive    16
Negative     8
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/02-Nov.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-11-02 23:31:59+00:00,1455679110974517256,"üó£ ""I'm proud that we never give up. We never g...",ManUtd,"{'neg': 0.0, 'neu': 0.881, 'pos': 0.119, 'comp...",0.0,0.881,0.119,0.4767,Positive
1,1,2021-11-02 23:06:00+00:00,1455672569152016389,‚ÑπÔ∏è Our no.19 had to be replaced in the first h...,ManUtd,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,1.000,0.000,0.0000,Neutral

Neutral     28
Positive    25
Negative     7
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/11-Sep.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-09-11 23:08:46+00:00,1436829099343949826,Congratulations on becoming the #USOpen champi...,ManUtd,"{'neg': 0.0, 'neu': 0.701, 'pos': 0.299, 'comp...",0.0,0.701,0.299,0.8439,Positive
1,1,2021-09-11 21:37:00+00:00,1436806002486046722,"‚òùÔ∏è @Cristiano ‚òùÔ∏è\n\nSweet dreams, Reds ü•∞ https...",ManUtd,"{'neg': 0.0, 'neu': 0.48, 'pos': 0.52, 'compou...",0.0,0.480,0.520,0.9186,Positive

Positive    43
Neutral     35
Negative    10
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/19-Sep.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-09-19 21:30:00+00:00,1439703345069916162,Those full-time scenes were ùòÄùóΩùó≤ùó∞ùó∂ùóÆùóπ ‚ù§\n\n#MUFC...,ManUtd,"{'neg': 0.0, 'neu': 0.704, 'pos': 0.296, 'comp...",0.0,0.704,0.296,0.6369,Positive
1,1,2021-09-19 21:00:00+00:00,1439695794873982976,üöÄ @JesseLingard launching rockets!\n\n#MUFC | ...,ManUtd,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,1.000,0.000,0.0000,Neutral

Neutral     28
Positive    26
Negative     4
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/06-Nov.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-11-06 17:13:00+00:00,1457033285322919937,üó£ Bruno's assessment of #MUNMCI.\n\n#MUFC,ManUtd,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,1.0,0.0,0.0,Neutral
1,1,2021-11-06 15:41:00+00:00,1457010132928270346,üí¨ Ole reacts to #MUNMCI. \n\n#MUFC,ManUtd,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,1.0,0.0,0.0,Neutral

Neutral     19
Positive    15
Negative     4
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/22-Aug.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-08-22 21:02:00+00:00,1429549437467172877,"ùó£ùó£ ùòÖ ùó†ùóö\n\nAnother assist for @PaulPogba, anot...",ManUtd,"{'neg': 0.138, 'neu': 0.862, 'pos': 0.0, 'comp...",0.138,0.862,0.0,-0.3400,Negative
1,1,2021-08-22 17:05:00+00:00,1429489794409771016,"üó£ ""It's a point from a losing position but it'...",ManUtd,"{'neg': 0.067, 'neu': 0.933, 'pos': 0.0, 'comp...",0.067,0.933,0.0,-0.2023,Negative

Positive    24
Neutral     17
Negative     5
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/20-Nov.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-11-20 19:08:30+00:00,1462135781800263680,Ole's post-match reaction.\n\n#MUFC | #WATMUN,ManUtd,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,1.000,0.0,0.0000,Neutral
1,1,2021-11-20 16:55:04+00:00,1462102202588270605,Defeat at Vicarage Road.\n\n#MUFC | #WATMUN,ManUtd,"{'neg': 0.333, 'neu': 0.667, 'pos': 0.0, 'comp...",0.333,0.667,0.0,-0.4588,Negative

Neutral     23
Positive    16
Negative     2
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/14-Aug.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-08-14 23:04:00+00:00,1426681036818325506,Seeing a full Old Trafford made Saturday's res...,ManUtd,"{'neg': 0.0, 'neu': 0.735, 'pos': 0.265, 'comp...",0.000,0.735,0.265,0.8777,Positive
1,1,2021-08-14 22:26:00+00:00,1426671473633071104,For those we lost during the pandemic ‚ù§Ô∏è\n\n#M...,ManUtd,"{'neg': 0.161, 'neu': 0.839, 'pos': 0.0, 'comp...",0.161,0.839,0.000,-0.3182,Negative

Positive    52
Neutral     33
Negative     6
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/14-Sep.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-09-14 20:55:00+00:00,1437882596495695880,"Win together, lose together. Keep your head up...",ManUtd,"{'neg': 0.138, 'neu': 0.667, 'pos': 0.195, 'co...",0.138,0.667,0.195,0.2732,Positive
1,1,2021-09-14 20:01:41+00:00,1437869180158676998,"üí¨ ""A missed opportunity, of course, but we hav...",ManUtd,"{'neg': 0.056, 'neu': 0.877, 'pos': 0.067, 'co...",0.056,0.877,0.067,0.0772,Positive

Neutral     25
Positive    14
Negative     5
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/22-Sep.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-09-22 23:24:56+00:00,1440819433161703425,Ole's post-match reaction includes a word on M...,ManUtd,"{'neg': 0.0, 'neu': 0.881, 'pos': 0.119, 'comp...",0.0,0.881,0.119,0.4019,Positive
1,1,2021-09-22 21:38:46+00:00,1440792712739840002,"Over 72,000 fans in attendance at Old Trafford...",ManUtd,"{'neg': 0.0, 'neu': 0.9, 'pos': 0.1, 'compound...",0.0,0.900,0.100,0.4404,Positive

Neutral     17
Positive    16
Negative     6
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/28-Nov.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-11-28 22:48:00+00:00,1465090123956035586,üëè Big up our travelling Reds and everyone that...,ManUtd,"{'neg': 0.0, 'neu': 0.897, 'pos': 0.103, 'comp...",0.0,0.897,0.103,0.3182,Positive
1,1,2021-11-28 22:00:01+00:00,1465078047665647620,ùôÑùôòùôö ùôûùô£ ùôùùôûùô® ùô´ùôöùôûùô£ùô® üßä\n\nü•∂ @Sanchooo10\n\n#MUFC |...,ManUtd,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,1.000,0.000,0.0000,Neutral

Neutral     36
Positive    10
Negative     6
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/20-Oct.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-10-20 23:32:00+00:00,1450968070193762311,üòç https://t.co/rL94SlgEIT,ManUtd,"{'neg': 0.0, 'neu': 0.571, 'pos': 0.429, 'comp...",0.0,0.571,0.429,0.4588,Positive
1,1,2021-10-20 23:14:00+00:00,1450963540169265160,"Oh what a night, oh what a night ü•∞\n\n#MUFC | ...",ManUtd,"{'neg': 0.0, 'neu': 0.673, 'pos': 0.327, 'comp...",0.0,0.673,0.327,0.8074,Positive

Positive    32
Neutral     31
Negative     6
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/30-Oct.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-10-30 22:48:00+00:00,1454580875673288705,Our away fans in fine voice as always üëèüëèüëè\n\n#...,ManUtd,"{'neg': 0.0, 'neu': 0.904, 'pos': 0.096, 'comp...",0.0,0.904,0.096,0.2023,Positive
1,1,2021-10-30 22:35:00+00:00,1454577604262957058,Together ‚úä\n\nThank you for your magnificent s...,ManUtd,"{'neg': 0.0, 'neu': 0.606, 'pos': 0.394, 'comp...",0.0,0.606,0.394,0.8442,Positive

Neutral     39
Positive    31
Negative     7
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/29-Sep.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-09-29 23:58:00+00:00,1443364467862130688,Admin can't sleep...\n\nAnyone else? üòÖ,ManUtd,"{'neg': 0.0, 'neu': 0.762, 'pos': 0.238, 'comp...",0.0,0.762,0.238,0.3612,Positive
1,1,2021-09-29 23:30:00+00:00,1443357421875912705,"ùó°ùó≤ùòÑ ùó∫ùó≤ùòÄùòÄùóÆùó¥ùó≤ (ùü≠)\n\nTake it away, @AT13Oficial ...",ManUtd,"{'neg': 0.0, 'neu': 0.824, 'pos': 0.176, 'comp...",0.0,0.824,0.176,0.4588,Positive

Positive    32
Neutral     28
Negative    11
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/23-Nov.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-11-23 23:00:02+00:00,1463281213376897028,Top spot = secured üîê\n\n#MUFC | #UCL,ManUtd,"{'neg': 0.0, 'neu': 0.64, 'pos': 0.36, 'compou...",0.0,0.640,0.360,0.5423,Positive
1,1,2021-11-23 22:30:00+00:00,1463273655366926340,"We heard you loud and clear all night, Reds üì£\...",ManUtd,"{'neg': 0.0, 'neu': 0.682, 'pos': 0.318, 'comp...",0.0,0.682,0.318,0.9022,Positive

Positive    31
Neutral     30
Negative     5
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/16-Oct.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-10-16 18:26:00+00:00,1449441511129554946,"As always, thank you to our travelling fans fo...",ManUtd,"{'neg': 0.0, 'neu': 0.606, 'pos': 0.394, 'comp...",0.000,0.606,0.394,0.8442,Positive
1,1,2021-10-16 17:51:45+00:00,1449432894708060160,The boss has shared his thoughts after today's...,ManUtd,"{'neg': 0.195, 'neu': 0.649, 'pos': 0.156, 'co...",0.195,0.649,0.156,-0.1531,Negative

Neutral     20
Positive    14
Negative     3
Name: sentiment, dtype: int64

Reading file - ../data/Official Tweets/29-Aug.csv

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment_compound_score,neg,neu,pos,compound,sentiment
0,0,2021-08-29 23:57:00+00:00,1432130192428843009,ùóòùó±ùó∂ ùó∂ùòÄ ùóØùóÆùó∞ùó∏! ü§©\n\n#MUFC | @ECavaniOfficial htt...,ManUtd,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,1.000,0.000,0.0000,Neutral
1,1,2021-08-29 23:02:00+00:00,1432116351510925316,Your support at Molineux on Sunday was incredi...,ManUtd,"{'neg': 0.0, 'neu': 0.857, 'pos': 0.143, 'comp...",0.0,0.857,0.143,0.4574,Positive

Positive    35
Neutral     31
Negative     5
Name: sentiment, dtype: int64