In [ ]:
#pip install git+https://github.com/JustAnotherArchivist/snscrape.git

In [1]:
import pandas as pd
import snscrape.modules.twitter as sntwitter

Change the date to extract tweets from below

In [ ]:
#date = '2021-11-28'

In [ ]:
player_accounts = ['@ManUtd','@AnthonyMartial','@MarcusRashford','@D_DeGea', '@paulpogba', '@B_Fernandes8', '@Sanchooo10', '@JesseLingard', '@Donny_beek6', '@HarryMaguire93', '@raphaelvarane', '@masongreenwood', '@Fred08oficial', '@ECavaniOfficial', '@awbissaka', '@AT13Oficial', '@LukeShaw23', '@Amaddiallo_19', '@juanmata8', '@vlindelof', '@NemanjaMatic', '@DalotDiogo', '@ericbailly24', '@deanhenderson', '@Cristiano']

In [ ]:
tweets_list1 = [] 
for a in player_accounts:
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:'+a+' since:2021-08-14 until:2021-08-15').get_items()): #declare a username 
    #if i>1000: #number of tweets you want to scrape
    #   break
    #abc = str(tweet.date)
    #if abc[0:10] == date:    
        tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username]) #declare the attributes to be returned

In [ ]:
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])
tweets_df1

In [ ]:
tweets_df1.to_csv('14-Aug.csv')

    Fan account extraction

In [8]:
fan_accounts = ['@TotallyMUFC','@FullTimeDEVILS','UnitedStand','@utdreport', '@TotallyMUFC', '@ManUnitedZone_', '@GNev2', '@barneyrednews', '@UTDTrey', '@RiZzyUTD', '@Vintage_UTD', '@Muppetiers', '@UtdFaithfuls', '@lauriewhitwell', '@JonnyFx1', '@rioferdy5', '@BradJCox_']

In [63]:
tweets_list1 = [] 
for a in fan_accounts:
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:'+a+' since:2021-08-14 until:2021-08-15').get_items()): #declare a username     
        tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username]) #declare the attributes to be returned

In [64]:
tweets_df2 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])
tweets_df2

,Datetime,Tweet Id,Text,Username
0,2021-08-14 21:42:22+00:00,1426660492307845123,@CMagfhloinn @ManUtd @MarcoRedDevil Took over ...,TotallyMUFC
1,2021-08-14 21:41:10+00:00,1426660192771612679,@SebMUFC21 @ManUtd @MarcoRedDevil Where did I ...,TotallyMUFC
2,2021-08-14 21:40:33+00:00,1426660037209071623,@woodward_sir @4shaann I praised pogba earlier on,TotallyMUFC
3,2021-08-14 21:40:11+00:00,1426659945890697217,@CMagfhloinn @ManUtd @MarcoRedDevil And what h...,TotallyMUFC
4,2021-08-14 21:39:22+00:00,1426659738583019522,@DredUtd @MikeOxl62656511 🤣🤣 calm down Sigmund...,TotallyMUFC
...,...,...,...,...
640,2021-08-14 10:59:10+00:00,1426498628626092032,Time for Greenwood to step up to the responsib...,BradJCox_
641,2021-08-14 10:33:35+00:00,1426492188209340419,"Most likely Pogba on the left, James on the ri...",BradJCox_
642,2021-08-14 10:30:42+00:00,1426491463496523780,"#MUFC starting lineup: De Gea, Wan-Bissaka, Ma...",BradJCox_
643,2021-08-14 09:16:41+00:00,1426472836366020608,"It has been exactly 6,300 days since Leeds Uni...",BradJCox_
644,2021-08-14 07:00:00+00:00,1426438438077804546,Can't watch #MUFC's opening Premier League fix...,BradJCox_

In [65]:
tweets_df2.to_csv('14-Aug-fan.csv')