In [ ]:
#pip install git+https://github.com/JustAnotherArchivist/snscrape.git

In [1]:
import pandas as pd
import snscrape.modules.twitter as sntwitter

Change the date to extract tweets from below

In [2]:
#date = '2021-11-28'

In [45]:
player_accounts = ['@ManUtd','@AnthonyMartial','@MarcusRashford','@D_DeGea', '@paulpogba', '@B_Fernandes8', '@Sanchooo10', '@JesseLingard', '@Donny_beek6', '@HarryMaguire93', '@raphaelvarane', '@masongreenwood', '@Fred08oficial', '@ECavaniOfficial', '@awbissaka', '@AT13Oficial', '@LukeShaw23', '@Amaddiallo_19', '@juanmata8', '@vlindelof', '@NemanjaMatic', '@DalotDiogo', '@ericbailly24', '@deanhenderson', '@Cristiano']

In [87]:
tweets_list1 = [] 
for a in player_accounts:
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:'+a+' since:2021-08-14 until:2021-08-15').get_items()): #declare a username 
    #if i>1000: #number of tweets you want to scrape
    #   break
    #abc = str(tweet.date)
    #if abc[0:10] == date:    
        tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username]) #declare the attributes to be returned

In [88]:
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])
tweets_df1

,Datetime,Tweet Id,Text,Username
0,2021-08-14 23:04:00+00:00,1426681036818325506,Seeing a full Old Trafford made Saturday's res...,ManUtd
1,2021-08-14 22:26:00+00:00,1426671473633071104,For those we lost during the pandemic â¤ï¸\n\n#M...,ManUtd
2,2021-08-14 21:39:00+00:00,1426659645519798272,"The first of many this season, we're sure ğŸ…\n\...",ManUtd
3,2021-08-14 21:02:05+00:00,1426650355002187778,The highlights you've all been waiting for! ğŸ¿\...,ManUtd
4,2021-08-14 20:49:00+00:00,1426647062691688450,ğŸ”´ ğ—ğ—¦ğŸ®ğŸ± ğŸ”´\n\n#MUFC @Sanchooo10 https://t.co/I10...,ManUtd
...,...,...,...,...
86,2021-08-14 14:15:26+00:00,1426548018946486277,ğŸ–¤ https://t.co/2nhz0ZakYd,Fred08oficial
87,2021-08-14 18:57:47+00:00,1426619074017177606,ğŸƒğŸ» ğŸ¤£ğŸ‘©ğŸ¼ğŸ‘¶ğŸ‘§â™¥ï¸â€¦ https://t.co/oF5172T6vO,ECavaniOfficial
88,2021-08-14 15:19:03+00:00,1426564029569454081,back to business ğŸ”´ğŸ•¸ https://t.co/EgLqLMc84U,awbissaka
89,2021-08-14 13:58:05+00:00,1426543651564527621,What an atmosphere at OT!! The start we wanted...,LukeShaw23
90,2021-08-14 15:13:32+00:00,1426562641363865602,Magical. Missed everything about this. https:/...,vlindelof

In [89]:
tweets_df1.to_csv('14-Aug.csv')

Method 2